@charset "utf-8";

html {
    height: 100%;
}

body {
    height: 100%;
    /* background: #3C4767; */
    background: linear-gradient(#3C4767, rgb(202, 94, 70));
}

header {
    text-align: center;
}

h2 {
    color: #ffffff;
}

/* login form */
.login-box {
    /* background-color: rgb(62, 71, 100); */
    text-align: center;
    background: rgba(62, 71, 100, 0.5);
    width: 25%;
    margin: 0 auto;
}

.form-name {
    color: #ffffff;
}

.login-form-header {
    color: #ffffff;
}
